.spacer {
  flex: 1 1 auto;
}

.header {
  display: flex;
  align-items: center;
  max-height: 3rem;
}

.header a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #ffffff;
}

.header .logo {
  max-height: 42px;
}

.header .title-group {
  padding-left: 25px;
  display: flex;
  font-size: small;
}

.header .title-group a {
  padding-right: 15px;
}
